progress {
    border-radius: 7px; 
    width: 80%;
    height: 12px;

  }
  progress::-webkit-progress-bar {
    background-color: rgb(252,195,43);
    border-radius: 7px;
    box-shadow: inset 1px 1px 3px gray;
  }
  progress::-webkit-progress-value {
    background-color: black;
    border-radius: 7px;
  }
  progress::-moz-progress-bar {
    /* style rules */
  }